/* アニメーションのキーフレームを定義 */
@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/* 基本的なスタイリング */
body {
    font-family: 'Arial', sans-serif;
    color: #333;
    background: linear-gradient(45deg, #9EADC8, #B8CAD4);
    background-size: 200% 200%;
    animation: gradientAnimation 15s ease infinite;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 90%;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #E3EAF5;
    border: 1px solid #D3D9E3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.title {
    font-size: 2.5em;
    color: #556982;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* チャットコンテナスタイル */
.chat-container {
    width: 100%;
}

/* 入力・出力コンテナスタイル */
.input-container, .output-container {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #D3D9E3;
    border-radius: 4px;
    background-color: #fff;
}

/* テキストエリアスタイル */
.input-container textarea, .output-container textarea {
    width: 100%;
    height: 150px;
    border: none;
    resize: none;
    font-family: 'Courier New', monospace;
    padding: 10px;
    box-sizing: border-box;
    transition: border-color 0.3s ease-out, box-shadow 0.3s ease-out;
}

/* フォーカス時のテキストエリアスタイル */
.input-container textarea:focus, .output-container textarea:focus {
    border-color: #AAC0D1;
    box-shadow: 0 0 8px rgba(170, 192, 209, 0.5);
}

/* ボタンスタイル */
.btn-container {
    text-align: center;
}

.btn {
    background-color: #6789A8;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 5px 15px rgba(103, 137, 168, 0.4);
}

/* ボタンのホバー・フォーカススタイル */
.btn:hover, .btn:focus {
    background-color: #55799B;
    transform: translateY(-2px);
    box-shadow: 0 7px 20px rgba(103, 137, 168, 0.5);

}

/* ボタン内のアイコンスタイル */
.btn i {
    margin-right: 8px;
}

/* タイトル内のアイコンスタイル */
.title i {
    margin-right: 10px;
    color: #556982;
}

/* レスポンシブデザイン */
@media (max-width: 768px) {
    .container {
        width: 95%;
        padding: 15px;
    }

    .title {
        font-size: 1.5em;
    }

    .btn i {
        margin-right: 5px;
    }

    .input-container textarea, .output-container textarea {
        height: 100px;
    }
}
